<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>webpack</title>
  <script type="text/javascript">
    var CFG = {
      // currentTime: 1514206574365,
      currentTime: new Date().getTime(),
      calendarStatus: false
    }
  </script>
  <script>!function(e,i){var t=e.documentElement,n=navigator.userAgent.match(/iphone|ipod|ipad/gi),a=n?Math.min(i.devicePixelRatio,3):1,m="orientationchange"in window?"orientationchange":"resize";t.dataset.dpr=a;for(var d,l,c=!1,o=e.getElementsByTagName("meta"),r=0;r<o.length;r++)l=o[r],"viewport"==l.name&&(c=!0,d=l);if(c)d.content="width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no";else{var o=e.createElement("meta");o.name="viewport",o.content="width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no",t.firstElementChild.appendChild(o)}var s=function(){var e=t.clientWidth;e/a>750&&(e=750*a),window.remScale=e/750,t.style.fontSize=200*(e/750)+"px"};s(),e.addEventListener&&i.addEventListener(m,s,!1)}(document,window);</script>
</head>
<body>
  <div id="calendar"></div>
  <!-- 日历结构 -->
  <script type="text/template" id="calendarDom">
    <div class="signin-calendar">
      <div class="signin-calendar__bd">
        {{each calendar.list as item index}}
          {{if monthResignedMap[item]}}
            <i class="{{if item < calendar.today}}unchecked {{/if}}{{if monthResignedMap[item]}}rechecked {{/if}}{{if item == calendar.today}} todaysigned{{/if}}" data-dateTime="{{item}}"></i> 
          {{/if}}
          {{if monthSignedMap[item] && !monthResignedMap[item]}}
            <i class="{{if item < calendar.today}}unchecked {{/if}}{{if !monthResignedMap[item]}}checked{{/if}}{{if item == calendar.today}} todaysigned{{/if}}" data-dateTime="{{item}}"></i> 
          {{/if}}
          {{if !monthResignedMap[item] && !monthSignedMap[item]}}
            <i class="{{if item < calendar.today}}unchecked {{/if}}{{if item == calendar.today}} todaysigned{{/if}}" data-dateTime="{{item}}">{{item | dayFormat}}</i>
          {{/if}}
        {{/each}}
      </div>
      <span class="showCalendarBtn {{if !calendarStatus}}showAllCalendar{{/if}}"></span>
    </div>
  </script>
</body>
</html>